<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871523637592-5bs2t2f7hl01hilnhg6p963461mto1ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871523637592-5bs2t2f7hl01hilnhg6p963461mto1ve</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Rm8eqeiNoJyr4cwJi7JMKnWialtzIeM</string>
	<key>GCM_SENDER_ID</key>
	<string>871523637592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-dd9b3</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-dd9b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871523637592:ios:60d68c5cbaf1cd302e2d2d</string>
</dict>
</plist>